{% extends "layouts/base.html" %}

{% block title %} Template {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <section>
  <div class="page-header min-vh-100">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-4 col-lg-5 col-md-7 d-flex flex-column">
          <div class="card card-plain">
            <div class="card-header">
              <h4 class="font-weight-bolder">
                Cadastro Usuário
              </h4>
              <p class="mb-0">
                {% if msg %}
                  <span class="text-danger">{{ msg | safe }}</span>
                {% else %}
                  Enter your login and password to register
                {% endif %}
              </p>
            </div>

            {% if success %}

            <div class="card-footer text-center pt-0 px-lg-2 px-1">
              <p class="mb-2 text-sm mx-auto text-center">
                <a  href="{{ url_for('authentication_blueprint.login') }}"
                    class="btn btn-lg bg-gradient-primary btn-lg w-100 mt-4 mb-0">Sign IN</a>
              </p>
            </div>

            {% else %}

            <div class="card-body">
              <form role="form" method="POST" action="">

                  {{ form.csrf_token }}

                {# {{ form.hidden_tag() }} #}

                <div class="input-group input-group-outline mb-3">
                   {{ form.login(class="form-control", placeholder="Username") }}
                </div>
                <div class="input-group input-group-outline mb-3">
                   {{ form.nome(class="form-control", type="form-control", placeholder="Name") }}
                </div>
                <div class="input-group input-group-outline mb-3">
                   {{ form.senha(class="form-control", type="password", placeholder="Password") }}
                </div>
                  <div class="input-group input-group-outline mb-3">
                   {{ form.confirmacao_senha(class="form-control", type="password", placeholder="Confirm Password") }}
                </div>
                <div class="text-center">
                <button type="submit" name="register" class="btn btn-lg bg-gradient-primary btn-lg w-100 mt-4 mb-0">Sign Up</button>
                {% for error in form.confirmacao_senha.errors %}
                    <div class="alert alert-danger">
                        {{ error }}
                    </div>
                {% endfor %}
                {% for error in form.login.errors %}
                    <div class="alert alert-danger">
                        {{ error }}
                    </div>
                {% endfor %}
            </div>
              </form>
            </div>
            <div class="card-footer text-center pt-0 px-lg-2 px-1">
{#              <p class="mb-2 text-sm mx-auto">#}
{#                Already have an account?#}
                {# <a href="{{ url_for('authentication_blueprint.login') }}" class="text-primary text-gradient font-weight-bold">Sign IN</a> #}
{#              </p>#}
            </div>

            {% endif %}

          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
