{% extends "layouts/base.html" %}

{% block title %} Template {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="page-header min-height-300 border-radius-xl mt-4"
         style="background-image: url('https://images.unsplash.com/photo-1531512073830-ba890ca4eba2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1920&amp;q=80');">
        <span class="mask  bg-gradient-primary  opacity-6"></span></div>
    <div class="card card-body mx-3 mx-md-4 mt-n6">
        <div class="row gx-4 mb-2">
            <div class="col-auto">
                <div class="avatar avatar-xl position-relative"><img
                        src="/static/assets/images/Profile.png" alt="profile_image"
                        class="w-100 border-radius-lg shadow-sm"></div>
            </div>
            <div class="col-auto my-auto">
                <div class="h-100"><h5 class="mb-1"> Ale Silva </h5>
                    <p class="mb-0 font-weight-normal text-sm"> Perfil do paciente </p></div>
            </div>
            <div class="col-lg-4 col-md-6 my-sm-auto ms-sm-auto me-sm-0 mx-auto mt-3">
                <div class="nav-wrapper position-relative end-0">
                    <ul class="nav nav-pills nav-fill p-1 flex-column on-resize" role="tablist">
                        <li class="nav-item"><a class="nav-link mb-0 px-0 py-1 active" data-type="main-tab"
                                                data-bs-toggle="perfil"
                                                href="javascript:;" role="tab" aria-selected="true"> <i
                                class="material-icons text-lg position-relative">home</i> <span
                                class="ms-1">Perfil</span> </a></li>
                        <li class="nav-item"><a class="nav-link mb-0 px-0 py-1" data-type="main-tab"
                                                data-bs-toggle="data" href="javascript:;"
                                                role="tab" aria-selected="false"> <i
                                class="material-icons text-lg position-relative">settings</i> <span class="ms-1">Configurações</span>
                        </a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="row">
                <div class="col-12 col-xl-4" id="profile-card">
                    <div class="card card-plain h-100">
                        <div class="card-header pb-0 p-3">
                            <div class="row">
                                <div class="col-md-8 d-flex align-items-center"><h6 class="mb-0">Análise IA</h6></div>
                                <div class="col-md-4 text-end"><a href="javascript:;"> <i
                                        class="fas fa-user-edit text-secondary text-sm" data-bs-toggle="tooltip"
                                        data-bs-placement="top" title="" aria-hidden="true"
                                        data-bs-original-title="Edit Profile" aria-label="Edit Profile"></i><span
                                        class="sr-only">Edit Profile</span> </a></div>
                            </div>
                        </div>
                        <div class="card-body p-3"><p class="text-sm"> Ao longo do processo terapêutico,
                            o paciente Ale da Silva, inicialmente apresentando sintomas de ansiedade,
                            estresse elevados e depressão leve, demonstrou uma notável evolução em seu estado
                            emocional. Seu perfil inicial nos testes de DASS-21 revelou pontuações elevadas,
                            indicando uma carga significativa de sintomas psicológicos. Essa resposta favorável ao
                            tratamento reflete não apenas a eficácia das intervenções clínicas,
                            mas também sua capacidade de engajamento e disposição para explorar e superar seus desafios
                            emocionais. </p>
                            <hr class="horizontal gray-light my-4">
                            <ul class="list-group">
                                <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">Nome
                                    completo:</strong> &nbsp; Ale da Silva
                                </li>
                                <li class="list-group-item border-0 ps-0 text-sm"><strong
                                        class="text-dark">Celular:</strong> &nbsp; (92)98875-5495
                                </li>
                                <li class="list-group-item border-0 ps-0 text-sm"><strong
                                        class="text-dark">Idade:</strong> &nbsp; 28 anos
                                </li>
                                <li class="list-group-item border-0 ps-0 text-sm"><strong
                                        class="text-dark">Email:</strong> &nbsp; alecsilva@gmail.com
                                </li>
                                <li class="list-group-item border-0 ps-0 text-sm"><strong
                                        class="text-dark">Último atendimento:</strong> &nbsp; 20/03/2024
                                </li>
                                <li class="list-group-item border-0 ps-0 text-sm"><strong
                                        class="text-dark">Primeira consulta:</strong> &nbsp; 04/06/2022
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-xl-4" id="settings-card" style="display: none">
                    <div class="card card-plain h-100">
                        <div class="card-header pb-0 p-3"><h6 class="mb-0">Platform Settings</h6></div>
                        <div class="card-body p-3"><h6 class="text-uppercase text-body text-xs font-weight-bolder">
                            Account</h6>
                            <ul class="list-group">
                                <li class="list-group-item border-0 px-0">
                                    <div class="form-check form-switch ps-0"><input class="form-check-input ms-auto"
                                                                                    type="checkbox"
                                                                                    id="flexSwitchCheckDefault"
                                                                                    checked=""> <label
                                            class="form-check-label text-body ms-3 text-truncate w-80 mb-0"
                                            for="flexSwitchCheckDefault">Email me when someone follows me</label></div>
                                </li>
                                <li class="list-group-item border-0 px-0">
                                    <div class="form-check form-switch ps-0"><input class="form-check-input ms-auto"
                                                                                    type="checkbox"
                                                                                    id="flexSwitchCheckDefault1"> <label
                                            class="form-check-label text-body ms-3 text-truncate w-80 mb-0"
                                            for="flexSwitchCheckDefault1">Email me when someone answers on my
                                        post</label></div>
                                </li>
                                <li class="list-group-item border-0 px-0">
                                    <div class="form-check form-switch ps-0"><input class="form-check-input ms-auto"
                                                                                    type="checkbox"
                                                                                    id="flexSwitchCheckDefault2"
                                                                                    checked=""> <label
                                            class="form-check-label text-body ms-3 text-truncate w-80 mb-0"
                                            for="flexSwitchCheckDefault2">Email me when someone mentions me</label>
                                    </div>
                                </li>
                            </ul>
                            <h6 class="text-uppercase text-body text-xs font-weight-bolder mt-4">Application</h6>
                            <ul class="list-group">
                                <li class="list-group-item border-0 px-0">
                                    <div class="form-check form-switch ps-0 is-filled"><input
                                            class="form-check-input ms-auto" type="checkbox"
                                            id="flexSwitchCheckDefault3"> <label
                                            class="form-check-label text-body ms-3 text-truncate w-80 mb-0"
                                            for="flexSwitchCheckDefault3">New launches and projects</label></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-xl-4">
                    <div class="card card-plain h-100">
                        <div class="card-header pb-0 p-3">
                            <div class="col-md-8 d-flex align-items-center"><h6 class="mb-0">Grafico Pontuação</h6>
                            </div>
                            <div id="chart">
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-12 mt-4">
                    <div class="content-list">
                        <div class="">
                            <div class="col-auto">
                                <h4 class="mb-4">Testes realizados</h4>
                            </div>
                        </div>
                        <!--end of content list head-->
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="card card-project mb-4">
                                    <div class="progress">
                                        <div class="progress-bar bg-warning" role="progressbar" style="width: 5%"
                                             aria-valuenow="57" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>

                                    <div class="card-body">

                                        <div class="card-title">
                                            <a href="#"><h5 data-filter-by="text" class="H5-filter-by-text">DASS-21</h5>
                                            </a>
                                        </div>

                                        <div class="card-meta d-flex justify-content-between">
                                            <div class="d-flex align-items-center">
                                                <i class="material-icons mr-1">playlist_add_check</i>
                                                <span class="text-small"> 5</span>
                                            </div>
                                            <span class="text-sm" data-filter-by="text">14 dias atrás</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="card card-project mb-4">

                                    <div class="progress">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: 8%"
                                             aria-valuenow="8" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>

                                    <div class="card-body">

                                        <div class="card-title">
                                            <a href="#"><h5 data-filter-by="text" class="H5-filter-by-text">BFI-44</h5>
                                            </a>
                                        </div>

                                        <div class="card-meta d-flex justify-content-between">
                                            <div class="d-flex align-items-center">
                                                <i class="material-icons mr-1">playlist_add_check</i>
                                                <span class="text-small">1</span>
                                            </div>
                                            <span class="text-sm" data-filter-by="text">3 dias atrás</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="card card-project">
                                    <div class="progress">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: 8%"
                                             aria-valuenow="8" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>

                                    <div class="card-body">

                                        <div class="card-title">
                                            <a href="#"><h5 data-filter-by="text" class="H5-filter-by-text">PANAS</h5>
                                            </a>
                                        </div>

                                        <div class="card-meta d-flex justify-content-between">
                                            <div class="d-flex align-items-center">
                                                <i class="material-icons mr-1">playlist_add_check</i>
                                                <span class="text-small">3</span>
                                            </div>
                                            <span class="text-sm" data-filter-by="text">3 dias atrás</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end of content list body-->
                    </div>
                </div>
            </div>
        </div>
    </div>


    {% include 'includes/footer.html' %}


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script>
        // Cache DOM elements
        const profileCard = document.getElementById('profile-card');
        const settingsCard = document.getElementById('settings-card');
        const navLinks = document.querySelectorAll('.nav-link[data-type="main-tab"]');

        // Function to show/hide cards based on tab selection
        function handleTabClick(event) {
            // Prevent default link behavior
            event.preventDefault();

            // Get the target tab's data-bs-toggle attribute
            const tabType = this.getAttribute('data-bs-toggle');

            // Toggle the display property of profileCard and settingsCard based on tabType
            if (tabType === 'perfil') {
                profileCard.style.display = 'block';
                settingsCard.style.display = 'none';
            } else if (tabType === 'data') {
                profileCard.style.display = 'none';
                settingsCard.style.display = 'block';
            }
        }

        // Add click event listener to navigation links
        navLinks.forEach(link => link.addEventListener('click', handleTabClick));
    </script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script>
        var options = {
            series: [{
                name: 'DASS-21',
                data: [7]
            }, {
                name: 'BFI-44',
                data: [13]
            }, {
                name: 'PANAS',
                data: [11]
            },
            ],
            chart: {
                type: 'bar',
                height: 350,
                stacked: true,
                toolbar: {
                    show: false
                },
                zoom: {
                    enabled: true
                }
            },
            responsive: [{
                breakpoint: 480,
                options: {
                    legend: {
                        position: 'bottom',
                        offsetX: -10,
                        offsetY: 0
                    }
                }
            }],
            plotOptions: {
                bar: {
                    horizontal: false,
                    borderRadius: 10,
                    dataLabels: {
                        total: {
                            enabled: true,
                            style: {
                                fontSize: '13px',
                                fontWeight: 900
                            }
                        }
                    }
                },
            },
            xaxis: {
                type: 'datetime',
                categories: ['03/02/2024 GMT'
                ],
            },
            legend: {
                position: 'right',
                offsetY: 40
            },
            fill: {
                opacity: 1
            }
        };

        var chart = new ApexCharts(document.querySelector("#chart"), options);
        chart.render();

    </script>

{% endblock javascripts %}
